*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans" , sans-serif;
}
.body{
    height: 100vh;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px;
    background-color: #a4cce7;
}
.container{
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 200px);
    min-height: 300px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
header{
    position: absolute;
    top: -40px;
    padding-bottom: 30px;
    padding-left: 50px;
    right: 20px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px  35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);

}
header ul{
    display: flex;
}
header ul li{
    list-style: none;
    margin: 0 10px;
}
header ul li a{
    text-decoration: none;
    color: #1f71a1;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 25px;
}
header ul li a:hover,
header ul li a.active {
    background-color: aliceblue;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}
.content {
    transform: translateX(-100px);
    max-width: 700px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    padding-left: 110px;
    

}
.content h2{ 
    padding-bottom: 10px;
    font-size: 3em;
    color: #1f71a1;
}
.content p{
    font-size: 1.2em;
    color: #1f71a1;
}
.content a{
    display: inline-block;
    padding: 10px 30px;
    background-color: #fff;
    color: #1f71a1;
    margin-top: 20px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar .logo {
    color: #1f71a1;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .links a {
    text-decoration: none;
    color: #1f71a1;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 25px;
}

.toggle_btn {
    color: #1f71a1;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdowm_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 90px;
    height: 0;
    width: 200px;
    background: #a4cce7;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdowm_menu.open {
    height: 160px;
}

.dropdowm_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdowm_menu li a{
    text-decoration: none;
    color: #1f71a1;
    font-weight: bold;
    border-radius: 25px;
}

.content1 a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #1f71a1 ;
    border-radius: 50%;
    font-size: 20px;
    color: #1f71a1;
    text-decoration: none;
    margin: 30px 15px 0 0;
}
.content1 a:hover{
    background: #1f71a1;
    color: #081b29;
    box-shadow: 0 0 20px #1f71a1;
}
.imgBox img{
    width: 500px;
    animation: animate 5s linear infinite;
}



@keyframes animate {
    0%,
    100% {
        transform: translateY(30px);
    }
    50% {
        transform: translateY(70px);
    }
}
#about-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 5%;
    background-color: rgba(118, 177, 225, 0.5);
}
.about-left{
    margin: 0;
    margin-top: 20px;
    position: relative;
    height: 100%;
}
.mySlides {
    height: 336px;
    overflow: hidden;
    padding: 0px 10px;
    text-align: center;
}

.mySlides img {
    width: 90%;
}

.about-left img{
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.about-left,
.about-right {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.about-right {
    text-align: left;
    margin-bottom: 0;
}
.about-right ul li {
    display: flex;
    align-items: center;
}

.about-right h1 {
    color: brown;
    font-size: 24px;
    margin-bottom: 10px;
}

.about-right p {
    color: #444;
    line-height: 20px;
    font-size: 14px;
}

.address-logo {
    display: flex;
    align-items: center;
    color: brown;
    margin-bottom: 10px;
}

.address-logo i {
    margin-right: 10px;
}

.saprater {
    margin: 0 5px;
}
.about-right .expertise ul{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.expertise h3{
    margin-bottom: 10px;
}
.expertise .expertise-logo{
    font-size: 18px;
    margin-right: 5px;
} 

@media screen and (min-width: 768px) {
    #about-section {
        flex-direction: row;
        justify-content: space-around;
    }

    .about-left,
    .about-right {
        width: 48%;
    }
    
}

.address-logo i {
    padding: 5px 10px;
    font-size: 18px;
}

.saprater {
    margin: 0 10px;
}


#skill-section{
    width: 100%;
    height: auto;
    background-color: rgba(39, 119, 194, 0.311);
}
.headerr{
    width: 100%;
    margin-bottom: 70px;
    padding-top: 20px;
    display: grid;
    place-items: center;
    text-align: center;
}

.headerr h2 {
    margin-bottom:  5px;
}

.headerr h2 span {
    color: #1f71a1;
}
.skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px ;
    grid-row-gap: 20px;
    padding-bottom: 20px;
}

.skill-main .skill-bar .info{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.skill-bar .info .persent{
    font-weight: bold;
}
.skill-bar .bar{
    width: 100%;
    height: 10px;
    position: relative;
    background-color:#444 ;
    border-radius: 25px;
    margin-top: 5px;
}
.skill-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #1f71a1;
    border-radius: 25px;
}
.skill-bar .bar .html{
    width: 70%;
    animation: html 3s;
}

@keyframes html {
    0%{
        width: 0;
    }100%{
        width: 70%;
    }
}

.skill-bar .bar .css{
    width: 60%;
    animation: css 3s;
}

@keyframes css {
    0%{
        width: 0;
    }100%{
        width: 60%;
    }
}

.skill-bar .bar .js{
    width: 40%;
    animation: js 3s;
}

@keyframes js {
    0%{
        width: 0;
    }100%{
        width: 40%;
    }
}
.skill-bar .bar .photo{
    width: 30%;
    animation: photo 3s;
}

@keyframes photo {
    0%{
        width: 0;
    }100%{
        width: 30%;
    }
}

.skill-bar .bar .media{
    width: 30%;
    animation: js 3s;
}

@keyframes media {
    0%{
        width: 0;
    }100%{
        width: 30%;
    }
}


.icon{
    position: absolute;
    right: -25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.icon li{
    list-style: none;
}
.icon li a{
    text-decoration: none;
    width: 70px;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.03);
}
.icon li a img {
    width: 35px;
    transform: scale(1.2);
    transition: 0.5s;
}
.icon li:hover a img {
    transform: scale(0.7) rotate(300deg);
}
@media screen and (max-width: 1200px) {
    .container{
        position: relative;
        width: calc(100% - 20px);
    }
}

@media screen and (max-width: 992px) {
    section {
        padding: 50px 10px 10px;
    }
    .container {
        flex-direction: column;
        height: auto;
        padding: 20px
    }
    .container .content {
        transform: translateX(0px);
        max-width: 100%;
        margin-top: -20px;
        padding: 30px;
    }
    header {
        position: relative;
        flex-direction: column;
        width: 100%;
        top: -40px;
        padding: 20px;
        right: 0;
        left: 0;
        padding-bottom: 20px;
        padding-top: 20px;
        
    }
    header ul {
        margin-top: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }    
    header ul li {
        margin: 3px;
    }
    header ul li a {
        display: inline-block;
        font-size: 1em;
    }
    .imgBox {
        margin-bottom: 50px;
    }
    .content a {
        font-size: 1em;
        padding: 10px 20px;
    }
    @keyframes animate{
        0%,
        100% {
            transform: translateY(10px);
        }
        50% {
            transform: translateY(30px);
        }
    }
    .icon {
        position: relative;
        flex-direction: row;
        left: 0;
    }
    .icon li a{
        margin: 0 10px;

    }
}


@media (max-width: 992px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdowm_menu {
        display: block;
    }
}

@media (max-width: 600px) {
    .dropdowm_menu {
        left: 2rem;
        width: unset;
    }
    
}


@media screen and (max-width: 600px) {
    .container .content {
        margin-top: 120px;
    }
    .content h2 {
        font-size: 2em;
    }
    .content p {
        font-size: 0.7em;
    }
    .imgBox img{
        max-width: 400px;
    }
    .icon li a {
        width: 35px;
        height: 35px;
    }
}
.contactUs{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color:rgba(118, 177, 225, 0.5) ;
}

.contact-box{
    max-width: 860px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2 ,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #a4cce7;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
}
.left iframe{
    padding: 10px 10px;
    width: 100%;
    height: 470px;
}
.right{
    padding: 25px 40px;
}
.contact-box .right h2{
    position: relative;
    padding: 0 0 30px;
    color: #1f71a1;
}
.contact-box .right h2:after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    /* background-color: aquamarine; */

}
.field{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.0);
    outline: none;
    background-color: #dbe5eb;
    padding: .5rem 1rem;
    margin-bottom: 22px;
    transition: .3s;
}
.field:hover{
    background-color: #1d2226;
}

.btn{
    width: 50%;
    padding: .5rem 1rem;
    background: #fff;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    transition: .3s;
}
.btn:hover{
    background: #4c9dcc;
}
.field:focus{
    border: 2px solid rgba(118, 177, 225, 0.5);
    background: #fff;
}
@media screen and (max-width:600px){
.contact-box{
    grid-template-columns: 1fr;
}
.left iframe{
    padding: 0;
}
}

.footer{
    width: 100%;
    background-color: #1f71a1;
    height: 145px;  
    color: white;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;

}
.footer p{
    font-size: 15px;
    color: #e2cfcf;
    margin-top: 10px;
}
